html, body {
        width: 100%;
        height: 100%;
        font-family: Monospace;
        background-color: #000;
        color: #000;
        margin: 0px;
        overflow: hidden;
        touch-action: none;
}

#info {
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;
        color: #ffffff;
}