html, body {
	width: 100%;
	height: 100%;
	font-family: Monospace;
	background-color: #000;
	color: #000;
	margin: 0px;
	overflow: hidden;
	touch-action: none;
	cursor: default; 
}

#info {
	position: fixed;
	top: 5px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	cursor: default;
	user-select: none;
}

#demoInfo {
	position: fixed;
	left: 3%;
	bottom: 8%;
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	cursor: default;
	user-select: none;
}

#cameraInfo {
	position: fixed;
	left: 3%;
	bottom: 2%;
	font-family: Arial;
	color: #ffffff;
	cursor: default;
	user-select: none;
}

.toggleButton {
	position:fixed;
	background-color: gray;
	border-color: darkgray;
	color: white;
	top: 5px;
	right: 5px;
	padding: 2px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	user-select: none;
	z-index: 11;
}

#timePauseButton {
	top: 50px;
}
